body {
  background: black;
  color: lime;
  font-family: monospace;
  text-align: center;
}

#counter {
  font-size: 24px;
  margin: 20px;
}

#slots {
  font-size: 50px;
}

button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
